[submodule "external/zenoh-cpp"]
	path = external/zenoh-cpp
	url = https://github.com/eclipse-zenoh/zenoh-cpp.git
[submodule "mujoco_simulator_py/external/mujoco_menagerie"]
	path = mujoco_simulator_py/external/mujoco_menagerie
	url = git@github.com:google-deepmind/mujoco_menagerie.git
[submodule "external/trac_ik"]
	path = external/trac_ik
	url = https://github.com/JafarAbdi/trac_ik.git
